<h1 class="display-2">{{title}}</h1>
    <nav class="navbar navbar-light bg-light mx-5">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="" routerLink="/account" routerLinkActive="active">MyAccount</a>
        <a class="" routerLink="/players" routerLinkActive="active">Players</a>
        <a class="" routerLink="/teams" routerLinkActive="active">Teams</a>
        <a class='fas fa-shopping-cart' routerLink="/cart" routerLinkActive="active"></a>
    </nav>        
<app-alert></app-alert>
<router-outlet></router-outlet>
