<h1 class="display-2">{{title}}</h1>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="" routerLink="/topPlayers" routerLinkActive="active">Top Players</a>
        <a class="" routerLink="/topTeams" routerLinkActive="active">Top Teams</a>
        <a class="" routerLink="/players" routerLinkActive="active">Players</a>
        <a class="" routerLink="/teams" routerLinkActive="active">Teams</a>
    </nav>        
        <app-top-players></app-top-players>
        <app-teams></app-teams>