<div>
  <div class="container mt-5">
    <h1>Hi {{currentUser.first_name}}!</h1>
    <p class="text-danger">You're logged in </p>

    <h4 class="display-4 d-flex justify-content-center"> My Orders</h4>

    <div class="container-fluid d-flex justify-content-center OrderContainer p-3 row">
      <div class="OrderItem-container d-flex justify-content-center row my-4 py-3" *ngFor="let order of orders">
        <h5 class="col-12 text-center">Order Confirmation #: {{order.orderId}}</h5>
        <div class="item col m-2 p-5 text-center" *ngFor="let cartItem of order.cart.cartItems">
          <h4 class="text-primary">{{cartItem.item.first_name}} {{cartItem.item.last_name}}</h4>
          <p>{{cartItem.total_amount |currency}}</p>
        </div>
        <h5 class=" col-12 text-center">Status: </h5>
        <h5 class="text-danger" *ngIf="!order.shipped">Processing</h5>
        <h5 class="text-success" *ngIf="order.shipped">Shipped</h5>
      </div>
    </div>
    <h5 class="mt-3 display-5"><a [routerLink]="['/login']">Logout</a></h5>
  </div>
</div>
